{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "global-require": "error",
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "class-methods-use-this": 0,
    "prefer-promise-reject-errors": 0,
    "prefer-const": 0,
    "no-underscore-dangle": 0,
    "no-return-assign": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  },
  "plugins": [
    "prettier",
    "react-native-globals"
  ],
  "env": {
    "react-native-globals/all": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~", "./src"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}