<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fantom Payments - Testnet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.34</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Please allow access to media.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Please allow access to bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Please allow access to bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Please allow access to calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your camera</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please allow access to location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow access to location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your microphone (for videos)</string>
	<key>NSMotionUsageDescription</key>
	<string>Please allow access to motion.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Please allow access to speech.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Light.ttf</string>
		<string>SF-Pro-Display-Regular.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>SF-Pro-Display-Thin.ttf</string>
		<string>SF-Pro-Display-Medium.ttf</string>
		<string>SF-Pro-Display-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
		<string>Segoe-UI-Bold.ttf</string>
		<string>Segoe-UI-Italic.ttf</string>
		<string>Segoe-UI-Light.ttf</string>
		<string>Segoe-UI-SemiLight.ttf</string>
		<string>Segoe-UI-SemiBold.ttf</string>
		<string>Segoe-UI.ttf</string>
		<string>WorkSans-Black.otf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Semi-BoldItalic.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli.ttf</string>
		<string>WorkSans-BlackItalic.otf</string>
		<string>WorkSans-Bold.otf</string>
		<string>WorkSans-BoldItalic.otf</string>
		<string>WorkSans-ExtraBold.otf</string>
		<string>WorkSans-ExtraBoldItalic.otf</string>
		<string>WorkSans-ExtraLight.otf</string>
		<string>WorkSans-ExtraLightItalic.otf</string>
		<string>WorkSans-Hairline.otf</string>
		<string>worksans-italic-vf.ttf</string>
		<string>WorkSans-Italic.otf</string>
		<string>WorkSans-Light.otf</string>
		<string>WorkSans-LightItalic.otf</string>
		<string>WorkSans-Medium.otf</string>
		<string>WorkSans-MediumItalic.otf</string>
		<string>WorkSans-Regular.otf</string>
		<string>worksans-roman-vf.ttf</string>
		<string>WorkSans-SemiBold.otf</string>
		<string>WorkSans-SemiBoldItalic.otf</string>
		<string>WorkSans-Thin.otf</string>
		<string>WorkSans-ThinItalic.otf</string>
		<string></string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
